
.documentDetailsTable{
    margin: auto;
}

.documentDetailsTable tr {
    height: 2.5em;
    margin: auto;
}

.leftAlign {
    text-align: left;
}

.documentDetailsTable td input {
    width: 20em;
}
.documentDetailsTable td {
   width: 1em;
}

.documentPane {

}