
.documentDetailsForm {
    text-align: center;
    margin: 0 auto;
}

.documentDetailsForm table{
    margin: 0 auto;
    width: 50%;
}

.documentDetailsForm td {
    text-align: left;
}

.documentDetailsForm td input {
    width: 25em;
    text-align: left;
}

.documentPane {

}