/*
#wrapper{
    width: 80%;
    margin: 2% auto;
    padding: 0 3% 3% 3%;
}*/

h1{
    text-align: center;
    margin: auto;
    padding: 1em 0;
    color: #33095d;
}

.row1 {
    background-color: lightskyblue;
}

table{
    width: 100%;
    horiz-align: center;
    border: none;
}

.tableHeader{
    background: deepskyblue;
    text-align: center;
}

#documentDetailsForm {
    text-align: center;
    margin: 0 auto;
}

#documentDetailsForm table{
    margin: 0 auto;
    width: 50%;
}

#documentDetailsForm td {
    text-align: left;
}

#documentDetailsForm td input {
    width: 25em;
    text-align: left;
}

.avatar {
    width: 8em;
    float: right;
}

#edit_person_form table {
    width: auto;
    margin-left: 2em;
}

.listTable {
    text-align: center;
}

.selectable:hover{
    background-color: dodgerblue;
}

.hidden {
    display: none;
}

#confirmRemove{
    display: none;
    background: salmon;
    width: 30%;
    opacity: 1;
    z-index: 100;
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
}

.backButton {
    width: 2.5em;
}

