body{
    background: papayawhip;
}

#wrapper{
    background: white;
    width: 80%;
    margin: 2% auto;
    padding: 0 3% 3% 3%;
}

h1{
    text-align: center;
    margin: auto;
    padding: 1em 0;
    color: #B76A2F;
}

.row1 {
    background-color: papayawhip;
}

table{
    width: 100%;
    horiz-align: center;
    border: none;
}

.tableHeader{
    background: burlywood;
    text-align: center;
}

#documentDetailsForm {
    text-align: center;
    margin: 0 auto;
}

#documentDetailsForm table{
    margin: 0 auto;
    width: 50%;
}

#documentDetailsForm td {
    text-align: left;
}

#documentDetailsForm td input {
    width: 25em;
    text-align: left;
}

.selectable:hover{
    background-color: dodgerblue;
}

.listTable {
    text-align: center;
}

.avatar img {
    width: 8em;
}

.hidden {
    display: none;
}

#confirmRemove{
    display: none;
    background: salmon;
    width: 30%;
    opacity: 1;
    z-index: 100;
    position: fixed;
    top: 30%;
    left: 35%;
    text-align: center;
}

.backButton {
    width: 2.5em;
}

